/* Site specific styles */

/*  Base typography
 ***************/

html {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
  min-width: 340px;
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

/*  Site header
 ****************/

.header {
  position: sticky;
  top: -5rem;
  z-index: 1;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem 0.8rem 0.5rem 0.8rem;
}

.header__nav {
  order: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-top: 0.3rem;
  overflow: hidden;
}

.header__nav-list {
  text-align: center;
  white-space: nowrap;
  border-top: 1.5px solid #d7d7d7;
  display: flex;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header__nav-list-item {
  display: inline-block;
  cursor: pointer;
}

.header__nav-link {
  display: inline-block;
  padding: 0.8rem 0.8rem 0.6rem 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__icon {
  width: 155px;
  flex-basis: 50%;
}

.header__icon-img {
  height: 3.2rem;
  width: auto;
  max-width: 130px;
}

@media (min-width: 600px) {
  .header {
    top: 0;
  }

  .header__container {
    flex-wrap: nowrap;
  }

  .header__nav {
    flex-basis: 45%;
    order: unset;
    overflow: visible;
  }

  .header__nav-list {
    border-top: none;
    padding-left: 0;
    padding-right: 0;
  }
}

/*  Cart
 *********/

.cart {
  text-align: right;
  position: relative;
}

.cart__size {
  position: absolute;
  overflow: hidden;
  top: -2px;
  right: -2px;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  font-family: monospace;
  font-size: 0.85rem;
  font-weight: 800;
  line-height: 1.5;
  color: #fff;
  background-color: #f00;
  border-radius: 50%;
}

/*  Hero
 *********/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 26rem;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/banner-girl.png) no-repeat center 30px / contain,
    url(../images/flower-bkgd.jpg) repeat-x bottom / auto 100%;
}

.hero__title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.hero__title--l {
  margin-top: 1rem;
  display: block;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-size: 2.4rem;
  text-transform: none;
}

/*  Main content
 *****************/

.main-section {
  text-align: center;
  padding: 4.2rem 1.4rem;
}

.main-section--full {
  padding-left: 0;
  padding-right: 0;
}

.main-section__heading {
  font-family: 'Playfair Display';
  font-style: italic;
  font-size: 2.2rem;
  margin-bottom: 1.4rem;
}

.main-section__heading--em {
  font-style: normal;
  font-weight: bold;
}

.main-section__content {
  line-height: 1.8;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

/*  Shop
 *********/

.shop {
  padding: 0;
}

.shop__grid {
  display: grid;
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  grid-template-areas:
    'mens mens'
    'trends glasses'
    'sale bags'
    'womens womens';
}

.shop__grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 50vw;
}

.shop__grid-item--mens {
  grid-area: mens;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/mens-category.jpg);
}

.shop__grid-item--trends {
  grid-area: trends;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/trends-category.jpg);
}

.shop__grid-item--glasses {
  grid-area: glasses;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/glasses-category.jpg);
}

.shop__grid-item--sale {
  grid-area: sale;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/sale-category.jpg);
}

.shop__grid-item--bags {
  grid-area: bags;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/bags-category.jpg);
}

.shop__grid-item--womens {
  grid-area: womens;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/womens-category.jpg);
}

.shop__grid-item-link {
  display: inline-block;
  width: 100%;
  padding: calc(12.5vw - 1rem) 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .shop__grid {
    grid-template-areas:
      'mens mens trends glasses'
      'sale bags womens womens';
  }
  .shop__grid-item {
    height: 25vw;
  }
}

/*  Product list
 *  (Carousel)
 *****************/

.product-list {
  height: 435px;
}

.product-list__item {
  width: 100%;
}

.product-list__item-img {
  width: 280px;
  max-width: unset;
}

.product-list__item-category {
  text-transform: uppercase;
}

.product-list__item-name {
  font-family: 'Playfair Display';
  font-style: normal;
  font-size: 1.5rem;
  margin: 0.8rem 0;
  text-transform: capitalize;
}

.product-list__item-price::before {
  content: '$';
}

.product-list__button {
  background-color: #000;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  font-family: inherit;
  font-weight: 600;
  margin: 1.5rem 0;
  cursor: pointer;
}

.product-list__button:focus {
  box-shadow: 0 0 0 2px #e2574c;
}

@media (min-width: 600px) {
  .product-list__item {
    width: 50%;
  }
}

@media (min-width: 1240px) {
  .product-list__item {
    width: 25%;
  }
}

/*  Updates
 ************/

.updates {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/wave-bkgd.jpg) no-repeat left bottom / auto 200%;
  margin-bottom: 0.5rem;
}

.updates__form {
  position: relative;
  width: 95%;
  max-width: 300px;
  margin: 2rem auto 3.2rem auto;
}

.updates__form-input {
  color: #7e7e7e;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 7px 120px 7px 20px;
}

.updates__form-submit {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px;
  cursor: pointer;
}

.updates__form-input,
.updates__form-submit {
  border: 2px solid white;
  border-radius: 20px;
}

.updates__success {
  font-family: 'Playfair Display';
  font-size: 2.5rem;
  font-weight: 600;
  font-style: italic;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media (min-width: 600px) {
  .updates__form {
    width: 80%;
  }
  .updates {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(../images/wave-bkgd.jpg) no-repeat left 85% / cover;
  }
}

/*  Site footer
 ****************/

.footer {
  text-align: center;
  line-height: 1.4;
}

.footer__contact-item {
  font-family: 'Playfair Display';
  font-style: normal;
  display: block;
  padding-bottom: 1rem;
}

.footer__contact-item--last {
  padding-bottom: 2.5rem;
}

.footer__contact-item--inline {
  display: inline-block;
}

.footer__contact-item--link {
  text-decoration: underline;
}

.footer__links-item {
  display: inline-block;
}

.footer__links-icon {
  width: 1.75rem;
  text-align: center;
}

.footer__links-label {
  display: none;
}

@media (min-width: 600px) {
  .footer {
    display: flex;
    text-align: left;
  }

  .footer__contact {
    flex-grow: 1;
  }

  .footer__contact-item--last {
    padding-bottom: 0.5rem;
  }

  .footer__links {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-right: 2rem;
  }

  .footer__links-item {
    display: block;
  }

  .footer__links-icon {
    margin: 0 0.25rem;
  }

  .footer__links-label {
    display: initial;
  }
}
