/* Styles for users with disabled JS */

/* Fix product list carousel
 ****************************/

.product-list {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

/* Hide elements that depend on JS
 **********************************/

.cart,
.product-list__button,
.updates,
.header__nav-list-item--js {
  display: none;
}
