/* Utility classes
 * Reusable utility-styles
 */

/*  Layout
 ***********/

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.container-s {
  width: 85%;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
}

/*  Colors
 ***********/

.white {
  color: #fff;
}

.light-grey {
  color: #969696;
}

.link {
  color: #e2574c;
}

.link:hover {
  color: #b64036;
}

.link--no-hover:hover {
  color: #e2574c;
}

.bg-white {
  background-color: #fff;
}

.bg-dark-gray {
  background-color: #242424;
}

.bg-link {
  background-color: #e2574c;
}

.bg-link:hover {
  background-color: #b64036;
}

.text-shadow {
  text-shadow: 2px 2px 8px #242424;
}

/*  Accessibility
 ******************/

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}
